<div class="border rounded ps-3 pt-2 mb-3 bg-light">
  <p class="mb-2"><em><%= comment.body %></em></p>
  <p>
    <span>
    <% if comment.user.present? %>
      <%= render partial: 'users/user', object: comment.user %>
    <% else %>
        <%= default_avatar %>
        <%= short_name(comment.user_name) %>
    <% end %>
  </span>
    <em><%= l comment.created_at, format: :short %></em>
    <% if current_user_can_edit?(comment) %>
      <%= link_to(
            fa_icon('trash'), event_comment_path(comment.event, comment),
            method: :delete, data: { confirm: t('comments.destroy_confirm') }
          ) %>
    <% end %>
  </p>
</div>

