<%= form_for [@event, comment] do |f| %>
  <%= render partial: 'partials/form_errors', locals: { model: comment } %>

  <div class="form-group">
    <%= f.label t("events.show.your") %>
    <%= f.text_area :body, class: 'form-control' %>
  </div>

  <% unless user_signed_in? %>
    <div class="form-group">
      <%= f.label :user_name %>
      <%= f.text_field :user_name, class: 'form-control' %>
    </div>
  <% end %>

  <% unless signed_in? %>
    <div class="mt-2">
      <%= recaptcha_tags %>
    </div>
  <% end %>


  <div class="actions mt-2">
    <%= f.submit t("comments.send"), class: 'btn btn-sm btn-primary' %>
  </div>
<% end %>
