<h2><%= t("log-in_form.log-in-label") %></h2>
<div class="row">
  <div class="col-sm-10 col-md-5 col-lg-5">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "form-row") do |f| %>

      <div class="form-group">
        <%= f.label :email %><br/>
        <div class="input-group">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          <span style="height: 38px;" class="my-auto input-group-text"><i class="fa-solid fa-envelope "></i></span>
        </div>
      </div>


      <div class="form-group mt-2">
        <%= f.label :password %><br/>
        <div class="input-group">
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
          <span style="height: 38px;" class="my-auto input-group-text"><i class="fa-solid fa-lock"></i></span>
        </div>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="form-group mt-2">
          <%= f.check_box :remember_me, class: "" %>
          <%= f.label :remember_me %>
        </div>
      <% end %>


      <div class="actions">
        <%= f.submit t("log-in_form.log-in_button"), class: "btn btn-primary mt-3" %>
      </div>
    <% end %>
  </div>
</div>

<div style="margin-top: 10px">
  <%= render "users/shared/links" %>
</div>
