<h1><%= t("pincode_verification.title") %></h1>

<%= form_tag('', method: 'post') do |f| %>
  <div class="form-group">
    <%= label t("pincode_verification.pincode"), :pincode %>
    <%= text_field_tag :pincode, params[:pincode], class: 'form-control' %>
  </div>

  <div class="actions mt-2">
    <%= submit_tag %>
  </div>
<% end %>

<%= link_to t("events_form.back-button"), events_path %>
