<div class="event">
  <div class="event-info row">
    <div class="col-md-12">
      <%= content_tag "div", "", class: "event-background",
                      style: "background-image: url(#{asset_path("event.jpg")})" %>

      <div class="event-info-inner row">
        <div class="col-md-6">
          <div class="event-description mt-4">
            <h1 class="mb-3"><%= @event.title %></h1>
            <h5 class="mb-3"><%= l(@event.datetime, format: :long) %></h5>
            <h5 class="mb-3"><small><%= link_to @event.address,
                                                "https://yandex.ru/maps/?text=#{@event.address}",
                                                class: "text-decoration-none" %></small>
            </h5>
            <p><%= @event.description %></p>
          </div>

          <% if current_user_can_edit?(@event) %>
            <div class="row">
              <div class="mt-3 mb-2 col-6 w-auto">
                <%= link_to t("events.show.edit-button"), edit_event_path(@event),
                            class: "btn btn-sm btn-primary" %>
              </div>
              <div class="mt-3 mb-2 col-6">
                <%= link_to t("events.show.delete-button"), "/events/#{@event.id}",
                            class: "btn btn-sm btn-danger",
                            method: :delete,
                            data: { confirm: t("events_delete_confirmation") } %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% if user_can_add_photo? %>
    <%= form_with url: event_photos_path(@event), multipart: true do |form| %>
      <div class="mt-2">
        <%= form.label :photos %>
        <%= form.file_field :photos, class: 'form-control', multiple: true %>
      </div>

      <div class="mt-2 mb-4">
        <%= form.submit t("events_form.Save-button"), class: 'btn  btn-sm btn-primary' %>
      </div>
    <% end %>
  <% end %>

  <% if @event.photos.any? %>
    <h4>Фотографии события:</h4>
    <div class="my-2">
      <% @event.photos.each do |photo| %>
        <div class="w-auto">
          <%= event_photo(photo.source) %>
        </div>
        прикрепил <%= render partial: 'users/user', object: @event.user %>
      <% end %>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-8">
      <h2 class="mt-3">Comments:</h2>
      <div class="event-comments">
        <%= render partial: 'comments/form',
                   locals: { comment: @new_comment || @event.comments.build } %>

        <div class="mt-4 mb-4">
          <%= render partial: 'comments/comment',
                     collection: @event.comments.except(@new_comment) %>
        </div>
      </div>
    </div>

    <div class="col-md-4 mt-sm-4">
      <div class="event-owner">
        <h4>Зовет:</h4>
        <p><%= render partial: 'users/user', object: @event.user %></p>
      </div>
      <div class="event-subscriptions">
        <h4>Пойдут:</h4>
        <div>
          <p>
            <%= render partial: 'subscriptions/subscription',
                       collection: @event.subscriptions.except(@new_subscription) %>
          </p>
        </div>
      </div>
      <div class="event-subscription-form">
        <% unless current_user_can_edit?(@event) %>
          <h4>Я пойду:</h4>
          <div>
            <%= render partial: 'subscriptions/form', locals: {
              subscription: @new_subscription || @event.subscriptions.build
            } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
