<%= form_for [@event, subscription] do |f| %>
  <%= render partial: 'partials/form_errors', locals: { model: subscription } %>

  <% unless user_signed_in? %>
    <div class="form-group">
      <%= f.label :user_name %>
      <%= f.text_field :user_name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :user_email %>
      <%= f.text_field :user_email, class: 'form-control' %>
    </div>
  <% end %>

  <% unless signed_in? %>
    <div class="mt-2">
      <%= recaptcha_tags(size: "compact") %>
    </div>
  <% end %>

  <div class="actions mt-2">
    <%= f.submit t("events.show.subscribe"), class: 'btn btn-primary' %>
  </div>
<% end %>

