<h2><%= t("user.edit.change-password") %></h2>
<div class="row">
  <div class="col-5">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="field">
        <%= f.label t("user.edit_password.new_password") %><br />
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: 'form-control' %>
      </div>

      <div class="field mt-1">
        <%= f.label t("user.edit_password.confirm_password") %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
      </div>

      <div class="actions mt-3">
        <%= f.submit t("user.edit.change-password"), class: 'btn btn-primary' %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>


