<!DOCTYPE html>
<html lang="en">
  <head>
    <title>BbqRails6Bs5</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render '/partials/nav' %>

    <div class="container">
      <p id="notice"><%= notice %></p>
    </div>

    <div class="container">
      <% if flash[:alert] %>
      <div class="alert alert-warning alert-dismissible fade show">
        <%= content_tag(:div, flash[:alert], :id => "flash_alert")  %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
        <% end %>
      <%= yield %>
    </div>
  </body>
</html>
