<!DOCTYPE html>
<html lang="en">
<head>
  <title>Wanna go out?</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="turbolinks-cache-control" content="no-cache">
  <meta name="mailru-domain" content="SgMjCiXOKLUrtVzJ" />
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'%>
</head>

<body>
<% if turbolinks_blacklist_array.include?("#{params[:controller]}/#{params[:action]}") %>
  <% 'data-turbolinks="false"'.html_safe %>
<% end %>

<%= render '/partials/nav' %>

<div class="container mt-3">
  <% if notice %>
    <div class="alert alert-warning alert-dismissible fade show">
      <p id="notice"><%= notice %></p>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
</div>

<div class="container">
  <% if flash[:alert] %>
    <div class="alert alert-danger alert-dismissible fade show">
      <%= content_tag(:div, flash[:alert], :id => "flash_alert") %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
  <%= yield %>
</div>
</body>
</html>
